/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/css/compiled
out
.#*
.lein-env
.lein-repl-history
.lein-failures
.idea
iamfoxy.iml
.nrepl-port
profiles.clj
unencrypted_profiles.clj
deploy/*.retry
src/clj/migrations/*.edn
src/clj/migrations/*.csv
src/clj/migrations/*.txt
src/clj/migrations/input/*
src/clj/migrations/output/*
.DS_STORE
/output
